.products {
  margin: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.products__single {
  background-color: rgb(231, 229, 229);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination {
  padding: 10px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;

  span {
    padding: 10px 15px;
    cursor: pointer;
  }
}

.pagination__number {
  border: 1px solid gray;
}

.pagination__selected {
  background-color: black;
  color: white;
}
